body {
    background-color:
}

/*img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
    color: black;
    text-align: left;
    margin-bottom: 200px;
}
#FriendsTitle {
    float: left;
    margin-left: 100px;
}

/*put a border to see this div:
#choices-container {
    border: solid 2px black;
}*/

#timer {
    border: solid 2px black;
}