body {
    background-color: black;
    color: yellow;
    margin: 0 auto; 
    box-sizing: border-box;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 5px; 
}



#button-div {
    /*margin: 0 auto;*/
    text-align: center;
    width: 200px;
    padding: 5px;
    font-size: 20px;
    margin-left: 580px;
}

button{
    padding: 15px;
    background-color: white;
    font-weight: bold;
    width: 200px;
    position: absolute;
    z-index: 2;
    margin-top: 160px;
}
  
#scoreboard {
    border: solid 2px black;
    margin: 0 auto;
    text-align: center;
}

#timer, #question, #choices-container, #messages{
    margin: 0 auto;
    text-align: center;
}

#timer, #question, #choices-container {
    background-color: #8458a7;
    padding: 5px;
    width: 800px;
    border: 2px solid white;
}

#timer, #question {
    margin: 0px;
    margin-left: 400px;
    top: 250px;
    
}

#choices-container {
    top: 130px;
    margin-left: 400px;
}

#container {
    box-sizing: border-box;
}

#headerLogo {
    margin-left: auto;
    margin-right: auto;
}


.time-container {
    position: relative;
    margin-left: -400px;
    
}

.answerHeader {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

